/* font stuff */

@font-face{
    font-family: 'Inter Regular';
    src: url('./res/Inter-Regular.woff') format('woff');
}
@font-face{
    font-family: 'Libre Baskerville Regular';
    src: url('./res/LibreBaskerville-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Libre Baskerville Italic';
    src: url('./res/LibreBaskerville-Italic.ttf') format('truetype');
}

/* DOM / page orientation stuff  */

html {
    margin: 5vw 0 0 0;
    padding: 0 0 5vw 0;
}

body {
    margin: auto;
    padding: 1.5vw 0 0 0;
    width: 90vw;
    min-height: calc(100vh - 11.5vw);
}

article {
    max-width: 45ch;
    padding-left: 1.5em;
}

div.content {
    min-height: calc(90vh - 5vw - 3em);
    padding: 3em;
}

div.homepage-menu {
    display: inline;
    margin: 1em;
    padding: 1em;
}

div.title-divider {
    margin-top: calc(95vh - 10vw);
    width: 100%;
    height: 5vw;
}

div.twocol {
    display: block;
    margin: 0;
    max-width: 100%;

    columns: 2;
    column-gap: 1.5vw;
}

img {
    width: 100%;
    margin-bottom: 1.5vw;
}

li {
    display: inline-block;
}

p {
    max-width: 50ch;
    text-align: justify;
}

span.about-indicator {
    position: absolute;
    margin: calc(45vh - 5vw) 0 0 45vw;
    padding: 0.5em;
    transform: translateX(-50%) translateY(-50%);
}

ul.homepage-menu {
    display: inline;
    letter-spacing: 0.5ch;
    padding: 0;
}

/* background styling */

body {
    image-rendering: pixelated;
    background: url('gif3.gif'), no-repeat top/90vw url('cover.jpg');
}

html, body, div.content, div.title-divider {
    background-color: #161616;
}

span.about-indicator {
    background-color: #161616;
}

/* text styling */

a {
    font-family: 'Inter Regular';
    color: burlywood;
}

article {
    border-left: 2pt solid burlywood;
    font-family: 'Libre Baskerville Regular';
    font-size: 12pt;
}

body {
    color: whitesmoke;
    font-family: 'Inter Regular';
}

div.content {
    letter-spacing: 0.1ch;
    font-size: 14pt;
    line-height: 22.5pt;
    text-align: justify;
    text-justify: newspaper;
}

div.homepage-menu {
    background-color: #161616;
    color: coral;
}

::selection {
    background-color: burlywood;
    color: whitesmoke;
}

h2, h3 {
    font-size: 72pt;
    font-weight: normal;
    text-decoration: underline;
    color:coral;
}

h3 {
    font-size: 21pt;
}

i.article {
    font-family: 'Libre Baskerville Italic';
    font-style: normal;
}

span.about-indicator {
    font-size: 5vw;
}
